.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal-spinner {
  --tw-bg-opacity: 0.4;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, opacity;

  @apply bg-gray-900 bg-opacity-40 backdrop-blur-sm overflow-y-hidden overscroll-contain duration-200 fixed top-0 right-0 bottom-0 left-0 flex justify-center opacity-100 z-[999] visible pointer-events-auto;
}

:where(.modal-spinner) {
  @apply items-center;
}
